.global-stats-crypto {
  text-align: center;
  font-family: cursive;
  margin: 30px;
  .ant-row {
    margin: 10px;
  }
}

.home-cryptos {
  h2.ant-typography {
    text-align: center !important;
  }
  h3.ant-typography {
    text-align: center !important;
  }
}
