.main-container {
  height: 100%;

  .title-container {
    width: 100%;
    margin-top: 25px;

    .min-heading-nft {
      text-align: left !important;
      margin-left: 100px;
      margin-bottom: 50px;
      color: #a83730;
    }

    .max-heading-nft {
      text-align: left !important;
      margin-left: 100px;
      margin-bottom: 50px;
      margin-top: 50px;
      color: #a83730;
    }
  }
  .title-container > p {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
  }

  .title-container > h2 {
    text-align: left;
    margin-bottom: 30px;
    font-size: 30px;
    margin-top: 30px;
  }

  .nft-card-container {
    min-height: 65vh !important;
    margin-left: 250px !important;
    margin-bottom: 30px;
  }

  .col-text {
    display: flex;
    margin-left: 70px;
    margin-right: 100px;

    .col-text-heading {
      font-size: 18px;
      opacity: 0.9;
      margin-left: 80px;
    }
  }
}
