.coin-heading-container {
  p {
    font-size: 18px;
  }
}

.loading-detail {
  text-align: center !important;
  font-size: 30px;
  .loading-img {
    width: 75px;
    height: 75px;
  }
}
.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.coin-details-heading {
  font-weight: 700 !important;
  margin-top: 20px !important;
  color: var(--pink) !important;
  text-align: center;
}

.coin-stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  font-size: 1rem;
  opacity: 0.9;
  padding: 20px;
}

.coin-stats-name {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.stats {
  font-weight: 800;
}

.coin-value-statistics-heading p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-value-statistics {
  border: 1px solid #a83730;
  border-radius: 15px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.other-stats-statistics {
  border: 1px solid #a83730;
  border-radius: 15px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.coin-desc-link h3 {
  font-weight: 700;
}

.coin-desc-link h2 {
  font-weight: 700;
  color: var(--pink);
}

.coin-desc-link p {
  font-size: 1rem;
  opacity: 0.9;
}

.coin-desc-link a {
  color: var(--pink);
}

.coin-desc-link {
  margin-right: 100px;
  margin-left: 100px;
}
