@import "~antd/dist/antd.css";

.search-crypto {
  width: 250px;
  margin: 20px auto 30px auto;
}

.ant-table-thead > tr > th {
  position: relative;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: left;
  background: #1890ff;
}
.ant-table-pagination > * {
  flex: none;
  margin-right: 10px;
}

.top-volume {
  width: 50%;
}

.cryptos-currency {
  display: flex;
  .table-crypto {
    border-radius: 15px;
    width: 100%;
    margin: 50px;
    padding: auto;
    box-shadow: 5px 2px 18px 5px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 5px 2px 18px 5px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 5px 2px 18px 5px rgba(0, 0, 0, 0.64);
    font-family: cursive;
    background: #1890ff;

    .table-cryptoDetails {
      background-color: #efefef;
    }
  }
}
