.footer {
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  width: 99.1vw;

  .ant-space-item a {
    color: #da9e37;
    font-size: 18px;
  }
  a:hover {
    color: #a83730;
  }
}
